<mdb-card>

  <div class="card-header py-1">
    <div class="d-flex align-items-center">

      <div class="d-flex flex-grow-1">
        <div class="row">
          <div class="col-auto text-left">
            <h4 class="py-3 mb-0">{{getLocation(distribution.location)}}</h4>
          </div>
        </div>
      </div>
      <div *ngIf="selectedView == Status.DELIVERY">
        <a mdbBtn floating="true" size="sm" color="blue-grey" mdbWavesEffect
           data-toggle="tooltip" title="Штамапај" (click)="exportToPDF(distribution)">
          <mdb-icon fas icon="file-alt"></mdb-icon>
        </a>
      </div>

    </div>
  </div>

  <div class="card-body">
    <div id="table" class="table-editable">

      <table mdbTable small="true" class="table table-bordered table-responsive-md table-striped text-left mb-0">
        <thead>
        <tr>
          <th></th>
          <th [mdbTableSort]="distribution.acquisitionGroup" sortBy="title" (click)="resetHideLists()">
            Партија
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th>
            ИСБН
          </th>
          <th>
            Наслов
          </th>
          <th>
            Аутор
          </th>
          <th>
            Издавач
          </th>
          <th>
            Цена
          </th>
          <th>
            Локација
          </th>
          <th>
            Количина
          </th>
          <th>
            Укупно
          </th>
          <th></th>
        </tr>
        </thead>

        <tbody *ngFor="let acquisitionGroup of distribution.acquisitionGroup; let id = index;">
        <tr>
          <td>
            <a (click)="toggle(id)">
              <i class="far" [ngClass]="{'fa-plus-square': !hide[id], 'fa-minus-square': hide[id]}"></i></a>
          </td>
          <td>{{acquisitionGroup.title}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-italic font-weight-bold">{{calculateAmountForGroup(acquisitionGroup)}}</td>
          <td class="font-italic font-weight-bold">{{calculatePriceForGroup(acquisitionGroup) | number:'1.2-2'}}</td>
          <td></td>
        </tr>
        <ng-container *ngIf="hide[id]">
          <ng-container *ngFor="let item of acquisitionGroup.items; let locId = index">
            <tr>
              <td></td>
              <td><a (click)="toggleInner(id, locId)">
                <i class="far" [ngClass]="{'fa-plus-square': !hideInner[id][locId], 'fa-minus-square': hideInner[id][locId]}"></i></a>
              </td>
              <td>{{item.desideratum.isbn}}</td>
              <td>{{item.desideratum.title}}</td>
              <td>{{item.desideratum.author}}</td>
              <td>{{item.desideratum.publisher}}</td>
              <td>{{calculatePriceWithVAT(item.realPrice)|number:'1.2-2'}}</td>
              <td></td>
              <td class="font-italic">{{calculateAmountForDesideratum(item.desideratum)}}</td>
              <td class="font-italic">{{calculatePriceForDesideratum(item.desideratum, item.realPrice) | number:'1.2-2'}}</td>
              <td>
                <ng-container *ngIf="selectedView == Status.DISTRIBUTION">
                  <button mdbBtn color="amber" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect
                          (click)="showDistributionForm(item.desideratum)">
                    <mdb-icon fas icon="pen"></mdb-icon>
                  </button>
                </ng-container>
              </td>
            </tr>
            <ng-container *ngIf="hideInner[id][locId]">
              <tr *ngFor="let location of item.desideratum.locations; let sublocId = index">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{getSublocation(location.sublocation)}}</td>
                <td>
                  {{location.amount}}
                </td>
                <td></td>
                <td></td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        </tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-italic teal-text">{{calculatePrice()|number:'1.2-2'}}</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</mdb-card>

<div mdbModal #modalDistributionForm class="modal fade top" id="modalDistributionForm" tabindex="-1"
     role="dialog"
     aria-labelledby="modalAdd" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Расподела
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="cancelEdit()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <app-distribution-form [location]="distribution.location" (modalHideEvent)="modalHide()"></app-distribution-form>
      </div>
    </div>
  </div>
</div>
