<mdb-card>

  <div class="card-header py-1">
    <div class="d-flex align-items-center">

      <div class="d-flex flex-grow-1">
        <div class="row">
          <div class="col-auto text-left">
            <h4 class="py-3 mb-0">{{acquisitionGroup.title}} - {{acquisitionGroup.distributor}}</h4>
          </div>
        </div>
      </div>

      <a mdbBtn floating="true" size="sm" color="blue-grey" mdbWavesEffect
         data-toggle="tooltip" title="Штамапај" (click)="exportToPDF()">
        <mdb-icon fas icon="file-alt"></mdb-icon>
      </a>

    </div>
  </div>

  <div class="card-body">
    <div id="table" class="table-editable">

      <table mdbTable small="true" class="table table-bordered table-responsive-md table-striped text-left mb-0">
        <thead>
        <tr>
          <th></th>
          <th [mdbTableSort]="acquisitionGroup.deliveryLocations" sortBy="location" (click)="resetHideLists()">
            Библиотека
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="acquisitionGroup.deliveryLocations" sortBy="desideratum.isbn" (click)="resetHideLists()">
            ИСБН
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="acquisitionGroup.deliveryLocations" sortBy="desideratum.title" (click)="resetHideLists()">
            Наслов
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="acquisitionGroup.deliveryLocations" sortBy="desideratum.author" (click)="resetHideLists()">
            Аутор
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th>
            Издавач
          </th>
          <th>
            Цена
          </th>
          <th>
            Локација
          </th>
          <th>
            Количина
          </th>
          <th>
            Укупно
          </th>
        </tr>
        </thead>

        <tbody *ngFor="let deliveryLocationGroup of acquisitionGroup.deliveryLocations|groupBy:'location'; let id = index;">
        <tr>
          <td>
            <a (click)="toggle(id)">
              <i class="far" [ngClass]="{'fa-plus-square': !hide[id], 'fa-minus-square': hide[id]}"></i></a>
          </td>
          <td>
            {{deliveryLocationGroup.key}}
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-italic font-weight-bold">{{calculateAmountForLibrary(deliveryLocationGroup.value)}}</td>
          <td class="font-italic font-weight-bold">{{calculatePriceForLibrary(deliveryLocationGroup.value) | number:'1.2-2'}}</td>
        </tr>
        <ng-container *ngIf="hide[id]">
          <ng-container *ngFor="let deliveryLocation of deliveryLocationGroup.value; let locId = index">
            <tr>
              <td></td>
              <td><a (click)="toggleInner(id, locId)">
                <i class="far" [ngClass]="{'fa-plus-square': !hideInner[id][locId], 'fa-minus-square': hideInner[id][locId]}"></i></a>
              </td>
              <td>{{deliveryLocation.desideratum.isbn}}</td>
              <td>{{deliveryLocation.desideratum.title}}</td>
              <td>{{deliveryLocation.desideratum.author}}</td>
              <td>{{deliveryLocation.desideratum.publisher}}</td>
              <td>{{deliveryLocation.price.price|number:'1.2-2'}}</td>
              <td></td>
              <td class="font-italic">{{calculateAmountForDesideratum(deliveryLocation.desideratum)}}</td>
              <td class="font-italic">{{calculatePriceForDesideratum(deliveryLocation.desideratum, deliveryLocation.price) | number:'1.2-2'}}</td>
            </tr>
            <ng-container *ngIf="hideInner[id][locId]">
              <tr *ngFor="let location of deliveryLocation.desideratum.locations; let sublocId = index">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{getSublocation(location.sublocation)}}</td>
                <td>
                  {{location.amount}}
                </td>
                <td></td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        </tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-italic teal-text">{{calculatePriceForGroup()|number:'1.2-2'}}</td>
        </tr>
      </table>
    </div>
  </div>
</mdb-card>
