.acquisition-stepper {

  span.active {
    background-color: #2196f3;
    width: 1.75rem;
    height: 1.75rem
  }

  span.disabled {
    background-color: rgba(0, 0, 0, .3);
    width: 1.75rem;
    height: 1.75rem
  }


  div.active {
    font-weight:400;
  }

}

