<div class="row">
  <div class="col-auto flex-grow-1">
    <div class="row">
      <div class="col-auto">
        <h3 class="py-2">Набавка</h3>
      </div>
      <div class="col-auto flex-grow-1 px-0">
        <h3 class="py-2 font-weight-bolder">{{acquisition.year}} - {{acquisition.num}}</h3>
      </div>
    </div>
    <div class="row">
        <div class="col-auto">
          <div>
            Датум покретања:
          </div>
          <div>
            {{acquisition.startDate | firestoreDate}}
          </div>
        </div>
    </div>
  </div>

  <div class="col-auto d-flex flex-column">
    <div class="col mb-2">
      <div class="row">
        <div class="col-auto">
          <mdb-icon fas icon="hand-holding-usd" class="fa-lg blue-text"></mdb-icon>
        </div>
        <div class="col text-left pl-0">
          <ng-container *ngIf="editBudget; else budget">
            <input [(ngModel)]="acquisition.budget" #ctrl="ngModel" type="number" class="form-control" mdbInput
                   (keyup.enter)="toggleEditBudget()">
          </ng-container>
          <ng-template #budget>
            <h6 class="font-weight-bolder">{{acquisition.budget|number:'1.2-2'}}</h6>
          </ng-template>

          <h6 class="grey-text">Буџет</h6>
        </div>
        <div class="col-auto">
          <mdb-badge (click)="toggleEditBudget()" color="amber">
            <mdb-icon fas icon="edit"></mdb-icon>
          </mdb-badge>
        </div>
      </div>
    </div>
    <div class="col-auto mb-2">
      <div class="row">
        <div class="col-auto">
          <mdb-icon fas icon="shopping-cart" class="fa-lg blue-text"></mdb-icon>
        </div>
        <div class="col text-left pl-0">
          <h6 class="font-weight-bolder">{{amount|number:'1.2-2'}}</h6>
          <h6 class="grey-text">Потрошено</h6>
        </div>
      </div>
    </div>
    <div class="col-auto mb-2">
      <div class="row">
        <div class="col-auto">
          <ng-container *ngIf="getRemain()>=0; else down">
            <mdb-icon fas icon="thumbs-up" class="fa-lg blue-text"></mdb-icon>
          </ng-container>
          <ng-template #down>
            <mdb-icon fas icon="thumbs-down" class="fa-lg red-text "></mdb-icon>
          </ng-template>
        </div>
        <div class="col text-left pl-0">
          <h6 class="font-weight-bolder">{{getRemain()|number:'1.2-2'}}</h6>
          <h6 class="grey-text">Преостало</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let group of acquisition.acquisitionGroups" class="mb-3">
  <app-acquisition-item [acquisitionGroup]="group"></app-acquisition-item>
</div>
