<div class="row">
  <div class="col-auto flex-grow-1">
    <div class="row pl-2">
      <div class="col-auto">
        <h5 class="grey-text">Набавка</h5>
      </div>
    </div>
    <div class="row pl-2">
      <div class="col-auto">
        <ng-container *ngIf="edit; else title">
          <input [(ngModel)]="acquisition.title" #ctrl="ngModel" type="text" class="form-control" mdbInput
                 (keyup.enter)="toggleEdit()">
        </ng-container>
        <ng-template #title>
          <h1 class="font-weight-bold dark-grey-text">{{acquisition.title}}</h1>
        </ng-template>
      </div>
    </div>
    <div class="row pl-3 mt-3">

      <ng-container *ngIf="acquisition.status != Status.DELIVERY">
        <ng-container *ngIf="edit; else ok">
          <a mdbBtn floating="true" size="sm" color="info" (click)="toggleEdit()" mdbWavesEffect>
            <mdb-icon fas icon="check"></mdb-icon>
          </a>
          <a mdbBtn floating="true" size="sm" color="danger" (click)="modalDeleteAcquisition.show()" mdbWavesEffect>
            <mdb-icon fas icon="trash-alt"></mdb-icon>
          </a>
        </ng-container>
        <ng-template #ok>
          <a mdbBtn floating="true" size="sm" color="amber" (click)="toggleEdit()" mdbWavesEffect
             data-toggle="tooltip" title="Измени">
            <mdb-icon fas icon="pen"></mdb-icon>
          </a>
        </ng-template>

        <a mdbBtn floating="true" size="sm" color="default" (click)="modalChangeStatus.show()" mdbWavesEffect
           data-toggle="tooltip" title="Промени статус">
          <mdb-icon fas icon="forward" ></mdb-icon>
        </a>
        <a mdbBtn floating="true" size="sm" color="blue-grey" mdbWavesEffect
           data-toggle="tooltip" title="Штамапај">
          <mdb-icon fas icon="file-alt"></mdb-icon>
        </a>
      </ng-container>
    </div>
  </div>

  <div class="col-3 d-flex flex-column">
    <div class="col mb-2">
      <div class="row">
        <div class="col-auto">
          <mdb-icon fas icon="calendar-day" class="fa-lg blue-text"></mdb-icon>
        </div>
        <div class="col text-left pl-0">
          <ng-container *ngIf="edit; else startdate">
            <input [ngModel]="acquisition.startDate" (ngModelChange)="parseDate($event, 'start')" #ctrl="ngModel" type="date" class="form-control" mdbInput
                   (keyup.enter)="toggleEdit()">
          </ng-container>
          <ng-template #startdate>
            <h6 class="font-weight-bolder">{{acquisition.startDate | firestoreDate}}</h6>
          </ng-template>
          <h6 class="grey-text">датум креирања</h6>
        </div>
      </div>
    </div>
    <div class="col-auto mb-2">
      <div class="row">
        <div class="col-auto">
          <mdb-icon fas icon="calendar-check" class="fa-lg blue-text"></mdb-icon>
        </div>
        <div class="col text-left pl-0">
          <ng-container *ngIf="edit; else date">
            <input [ngModel]="acquisition.acquisitionDate" (ngModelChange)="parseDate($event, 'acquistion')" #ctrl="ngModel" type="date" class="form-control" mdbInput
                   (keyup.enter)="toggleEdit()">
          </ng-container>
          <ng-template #date>
            <h6 class="font-weight-bolder">{{acquisition.acquisitionDate | firestoreDate}}</h6>
          </ng-template>
          <h6 class="grey-text">датум јавне набавке</h6>
        </div>
      </div>
    </div>
    <div class="col-auto mb-2">
      <div class="row">
        <div class="col-auto">
          <ng-container *ngIf="acquisition.status == Status.OPEN">
            <mdb-icon fas icon="unlock" size="lg" class="fa-lg blue-text"></mdb-icon>
          </ng-container>
          <ng-container *ngIf="acquisition.status == Status.CLOSED">
            <mdb-icon fas icon="lock" size="lg" class="fa-lg blue-text"></mdb-icon>
          </ng-container>
          <ng-container *ngIf="acquisition.status == Status.DELIVERY">
            <mdb-icon fas icon="dolly" size="lg" class="fa-lg blue-text"></mdb-icon>
          </ng-container>
        </div>
        <div class="col text-left pl-0">
          <h6 class="font-weight-bolder">{{acquisition.status | statusPipe}}</h6>
          <h6 class="grey-text">статус</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col-auto d-flex flex-column">
    <div class="col mb-2">
      <div class="row">
        <div class="col-auto">
          <mdb-icon fas icon="hand-holding-usd" class="fa-lg blue-text"></mdb-icon>
        </div>
        <div class="col text-left pl-0">
          <ng-container *ngIf="edit; else budget">
            <input [(ngModel)]="acquisition.budget" #ctrl="ngModel" type="number" class="form-control" mdbInput
                   (keyup.enter)="toggleEdit()">
          </ng-container>
          <ng-template #budget>
            <h6 class="font-weight-bolder">{{acquisition.budget|number:'1.2-2'}}</h6>
          </ng-template>
          <h6 class="grey-text">буџет</h6>
        </div>
<!--        <div class="col-auto">-->
<!--          <mdb-badge (click)="toggleEdit()" color="amber">-->
<!--            <mdb-icon fas icon="edit"></mdb-icon>-->
<!--          </mdb-badge>-->
<!--        </div>-->
      </div>
    </div>
    <div class="col-auto mb-2">
      <div class="row">
        <div class="col-auto">
          <mdb-icon fas icon="coins" class="fa-lg blue-text"></mdb-icon>
        </div>
        <div class="col text-left pl-0">
          <h6 class="font-weight-bolder">{{amount|number:'1.2-2'}}</h6>
          <h6 class="grey-text">вредност</h6>
        </div>
      </div>
    </div>
    <div class="col-auto mb-2">
      <div class="row">
        <div class="col-auto">
          <ng-container *ngIf="getRemain()>=0; else down">
            <mdb-icon fas icon="thumbs-up" class="fa-lg blue-text"></mdb-icon>
          </ng-container>
          <ng-template #down>
            <mdb-icon fas icon="thumbs-down" class="fa-lg red-text "></mdb-icon>
          </ng-template>
        </div>
        <div class="col text-left pl-0">
          <h6 class="font-weight-bolder">{{getRemain()|number:'1.2-2'}}</h6>
          <h6 class="grey-text">преостало</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-between mb-2">
  <div class="col-8 col-lg-6 d-flex flex-row align-items-center acquisition-stepper">

    <div class="view overlay" mdbWavesEffect (click)="selectView(Status.OPEN)">
      <div class="d-flex flex-row p-3 flex-center">
        <span class="badge rounded-circle p-0 d-flex justify-content-center align-items-center" [ngClass]="selectedView==Status.OPEN? 'active':'disabled'">
          <mdb-icon fas icon="unlock" class="white-text" size="lg"></mdb-icon>
        </span>
        <div class="pl-2" [ngClass]="selectedView==Status.OPEN? 'active':'disabled'">{{Status.OPEN | statusPipe}}</div>
      </div>
      <div class="mask flex-center rgba-grey-slight"></div>
    </div>

    <div class="flex-grow-1" style="height: 1px; background-color: lightgrey">
    </div>

    <div class="view overlay" mdbWavesEffect (click)="selectView(Status.CLOSED)">
      <div class="d-flex flex-row p-3 flex-center">
        <span class="badge rounded-circle p-0 d-flex justify-content-center align-items-center" [ngClass]="selectedView==Status.CLOSED? 'active':'disabled'">
          <mdb-icon fas icon="lock" class="white-text" size="lg"></mdb-icon>
        </span>
        <div class="pl-2" [ngClass]="selectedView==Status.CLOSED? 'active':'disabled'">{{Status.CLOSED | statusPipe}}</div>
      </div>
      <div class="mask flex-center rgba-grey-slight"></div>
    </div>

    <div class="flex-grow-1" style="height: 1px; background-color: lightgrey">
    </div>

    <div class="view overlay" mdbWavesEffect (click)="selectView(Status.DELIVERY)">
      <div class="d-flex flex-row p-3 flex-center">
        <span class="badge rounded-circle p-0 d-flex justify-content-center align-items-center" [ngClass]="selectedView==Status.DELIVERY? 'active':'disabled'">
          <mdb-icon fas icon="dolly" class="white-text" size="lg" ></mdb-icon>
        </span>
        <div class="pl-2" [ngClass]="selectedView==Status.DELIVERY? 'active':'disabled'">{{Status.DELIVERY | statusPipe}}</div>
      </div>
      <div class="mask flex-center rgba-grey-slight"></div>
    </div>
  </div>

  <div *ngIf="acquisition.status == Status.OPEN">
    <div class="col-auto align-self-center">
      <a mdbBtn floating="true" size="sm" color="primary" (click)="modalAddAcquisitionGroup.show()" mdbWavesEffect
         data-toggle="tooltip" title="Додај партију">
        <mdb-icon fas icon="plus"></mdb-icon>
      </a>
    </div>
  </div>

  <div *ngIf="acquisition.status == Status.DELIVERY && !acquisition.desiderataUpdated">
    <div class="col-auto align-self-center">
      <a mdbBtn floating="true" size="sm" color="green" (click)="updateDesiderata()" mdbWavesEffect
         data-toggle="tooltip" title="Ажурирај дезидерате">
        <mdb-icon fas icon="sync-alt"></mdb-icon>
      </a>
    </div>
  </div>
</div>

<ng-container *ngIf="selectedView == Status.OPEN">
  <ng-container *ngIf="acquisition.status == Status.OPEN; else openNotEdit">
    <div *ngFor="let group of acquisition.acquisitionGroups" class="mb-3">
      <app-acquisition-item [acquisitionGroup]="group" [status]="Status.OPEN" [editMode]="true" (updateAcquisitionGroupEvent)="updateAcquisitionGroup($event)"
                            (deleteAcquisitionGroupEvent)="deleteAcquisitionGroup($event)"></app-acquisition-item>
    </div>
  </ng-container>
  <ng-template #openNotEdit>
    <div *ngFor="let group of acquisition.acquisitionGroups" class="mb-3">
      <app-acquisition-item [acquisitionGroup]="group" [status]="Status.OPEN" [editMode]="false" (updateAcquisitionGroupEvent)="updateAcquisitionGroup($event)"
                            (deleteAcquisitionGroupEvent)="deleteAcquisitionGroup($event)"></app-acquisition-item>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="selectedView == Status.CLOSED && acquisition.status != Status.OPEN">
  <ng-container *ngIf="acquisition.status == Status.CLOSED; else closedNotEdit">
    <div *ngFor="let group of acquisition.acquisitionGroups" class="mb-3">
      <app-acquisition-item [acquisitionGroup]="group" [status]="Status.CLOSED" [editMode]="true" (updateAcquisitionGroupEvent)="updateAcquisitionGroup($event)"
                            (deleteAcquisitionGroupEvent)="deleteAcquisitionGroup($event)"></app-acquisition-item>
    </div>
  </ng-container>
  <ng-template #closedNotEdit>
    <div *ngFor="let group of acquisition.acquisitionGroups" class="mb-3">
      <app-acquisition-item [acquisitionGroup]="group" [status]="Status.CLOSED" [editMode]="false" (updateAcquisitionGroupEvent)="updateAcquisitionGroup($event)"
                            (deleteAcquisitionGroupEvent)="deleteAcquisitionGroup($event)"></app-acquisition-item>
    </div>
  </ng-template>
</ng-container>

<ng-container *ngIf="selectedView == Status.DELIVERY">
  <ng-container *ngIf="acquisition.status == Status.DELIVERY">
    <div *ngFor="let group of createDeliveryLocations()" class="mb-3">
      <app-delivery-item [acquisitionGroup]="group"></app-delivery-item>
    </div>
  </ng-container>
</ng-container>

<!--Modal addAcquisitionGroup -->
<div mdbModal #modalAddAcquisitionGroup class="modal fade top" id="modalAddAcquisitionGroup" tabindex="-1"
     role="dialog"
     aria-labelledby="modalAdd" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Нова партија
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalAddAcquisitionGroup.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form #addForm>
          <div class="md-form mb-5">
            <input type="text" id="inputTitle" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputTitle">Назив</label>
          </div>

          <div class="md-form mb-5">
            <input type="text" id="inputPublisher" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputPublisher">Добављач</label>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect
                (click)="addAcquisitionGroup(addForm, modalAddAcquisitionGroup)">Додај
        </button>
      </div>
    </div>
  </div>
</div>

<!--Modal addAcquisitionGroup -->

<!--Modal deleteAcquisition-->
<div mdbModal #modalDeleteAcquisition class="modal fade" id="modalDeleteAcquisition" tabindex="-1"
     role="dialog"
     aria-labelledby="modalDelete"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Брисање набавке
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalDeleteAcquisition.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p class="text-center h4">Да ли сте сигурни да желите да обришете набавку?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
        <button mdbBtn color="danger" type="button" class="btnYesClass" data-dismiss="modal" mdbWavesEffect
                (click)="deleteAcquisition()">
          Да
        </button>
        <button mdbBtn color="primary" type="button" class="btnNoClass" data-dismiss="modal" mdbWavesEffect
                (click)="modalDeleteAcquisition.hide()">
          Не
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal deleteAcquisition-->

<!--Modal changeStatus-->
<div mdbModal #modalChangeStatus class="modal fade" id="modalChangeStatus" tabindex="-1"
     role="dialog"
     aria-labelledby="modalChangeStatus"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Промена статуса
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalChangeStatus.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <ng-container *ngIf="acquisition.status == Status.OPEN">
          <p class="text-center h4">Набавка из стауса У припреми прелази у статус Затворена.</p>
          <p class="text-center h4">Да ли сте сигурни да желите да промените статус?</p>
        </ng-container>
        <ng-container *ngIf="acquisition.status == Status.CLOSED">
          <p class="text-center h4">Набавка из стауса Затворена прелази у статус Достава.</p>
          <p class="text-center h4">Да ли сте сигурни да желите да промените статус?</p>
        </ng-container>
      </div>
      <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
        <button mdbBtn color="danger" type="button" class="btnYesClass" data-dismiss="modal" mdbWavesEffect
                (click)="changeStatus()">
          Да
        </button>
        <button mdbBtn color="primary" type="button" class="btnNoClass" data-dismiss="modal" mdbWavesEffect
                (click)="modalChangeStatus.hide()">
          Не
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal changeStatus-->
