<mdb-card>

  <div class="card-header py-1">
    <div class="d-flex align-items-center">

      <div class="d-flex flex-grow-1">
        <div class="row">
          <div class="col-auto text-left">

            <ng-container *ngIf="status==Status.OPEN; then acquisitionTitle; else acquisitionDistributor">
            </ng-container>

            <ng-template #acquisitionTitle>
              <ng-container *ngIf="editGroup; else title">
                <input [(ngModel)]="acquisitionGroup.title" #ctrl="ngModel" type="text" class="form-control" mdbInput
                       (keyup.enter)="toggleEditGroup()">
              </ng-container>
              <ng-template #title>
                <h4 class="py-3 mb-0">{{acquisitionGroup.title}}</h4>
              </ng-template>
            </ng-template>

            <ng-template #acquisitionDistributor>
              <ng-container *ngIf="editGroup; else title">
                <input [(ngModel)]="acquisitionGroup.distributor" #ctrl="ngModel" type="text" class="form-control" mdbInput
                       (keyup.enter)="toggleEditGroup()">
              </ng-container>
              <ng-template #title>
                <h4 class="py-3 mb-0">{{acquisitionGroup.distributor}}</h4>
              </ng-template>
            </ng-template>

          </div>
        </div>
      </div>

      <ng-container *ngIf="editMode">
        <ng-container *ngIf="editGroup; else ok">
          <a mdbBtn floating="true" color="info" size="sm" (click)="toggleEditGroup()" mdbWavesEffect>
            <mdb-icon fas icon="check"></mdb-icon>
          </a>
          <div *ngIf="status==Status.OPEN">
            <a mdbBtn floating="true" color="danger" size="sm" (click)="showDeleteGroupModal()" mdbWavesEffect>
              <mdb-icon fas icon="trash-alt"></mdb-icon>
            </a>
          </div>
        </ng-container>
        <ng-template #ok>
          <a mdbBtn floating="true" color="amber" size="sm" (click)="toggleEditGroup()" mdbWavesEffect>
            <mdb-icon fas icon="pen"></mdb-icon>
          </a>
        </ng-template>

        <div *ngIf="status==Status.OPEN">
          <a mdbBtn floating="true" color="primary" size="sm" (click)="modalAddItem.show()" mdbWavesEffect
             data-toggle="tooltip" title="Додај наслов">
            <mdb-icon fas icon="plus"></mdb-icon>
          </a>
        </div>
      </ng-container>

    </div>
  </div>

  <div class="card-body">
    <div id="table" class="table-editable">

      <table mdbTable small="true" class="table table-bordered table-responsive-md table-striped text-left mb-0">
        <thead>
        <tr>
          <th></th>
          <th [mdbTableSort]="acquisitionGroup.items" sortBy="isbn" (click)="resetHideLists()">
            ИСБН
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="acquisitionGroup.items" sortBy="title" (click)="resetHideLists()">
            Наслов
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="acquisitionGroup.items" sortBy="author" (click)="resetHideLists()">
            Аутор
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th>
            Издавач
          </th>
          <th>
            Цена
          </th>
          <th>
            Рабат
          </th>
          <th>
            ПДВ
          </th>
          <th>
            Локација
          </th>
          <th>
            Количина
          </th>
          <th>
            Укупно
          </th>
          <ng-container *ngIf="editMode">
            <th></th>
          </ng-container>
        </tr>
        </thead>

        <tbody *ngFor="let item of acquisitionGroup.items; let id = index;">
        <tr>
          <td>
            <a (click)="toggle(id)">
              <i class="far" [ngClass]="{'fa-plus-square': !hide[id], 'fa-minus-square': hide[id]}"></i></a>
          </td>
          <td>
            <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else isbn">
              <input [(ngModel)]="selectedItem.desideratum.isbn" #ctrl="ngModel" type="text" class="form-control" mdbInput
                     (keyup.enter)="saveEditedItem()">
            </ng-container>
            <ng-template #isbn>
              {{item.desideratum.isbn}}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else title">
              <input [(ngModel)]="selectedItem.desideratum.title" #ctrl="ngModel" type="text" class="form-control" mdbInput
                     (keyup.enter)="saveEditedItem()">
            </ng-container>
            <ng-template #title>
              {{item.desideratum.title}}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else author">
              <input [(ngModel)]="selectedItem.desideratum.author" #ctrl="ngModel" type="text" class="form-control" mdbInput
                     (keyup.enter)="saveEditedItem()">
            </ng-container>
            <ng-template #author>
              {{item.desideratum.author}}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else publisher">
              <input [(ngModel)]="selectedItem.desideratum.publisher" #ctrl="ngModel" type="text" class="form-control" mdbInput
                     (keyup.enter)="saveEditedItem()">
            </ng-container>
            <ng-template #publisher>
              {{item.desideratum.publisher}}
            </ng-template>
          </td>

          <ng-container *ngIf="status==Status.OPEN; then planedPrice; else realPrice">
          </ng-container>

          <ng-template #planedPrice>
            <td>
              <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else price">
                <input [(ngModel)]="selectedItem.planedPrice.price" #ctrl="ngModel" type="number" class="form-control" mdbInput
                       (keyup.enter)="saveEditedItem()">
              </ng-container>
              <ng-template #price>
                {{item.planedPrice.price|number:'1.2-2'}}
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else rebate">
                <input [(ngModel)]="selectedItem.planedPrice.rebate" #ctrl="ngModel" type="number" class="form-control" mdbInput
                       (keyup.enter)="saveEditedItem()">
              </ng-container>
              <ng-template #rebate>
                {{item.planedPrice.rebate|number:'1.2-2'}}
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else vat">
                <input [(ngModel)]="selectedItem.planedPrice.vat" #ctrl="ngModel" type="number" class="form-control" mdbInput
                       (keyup.enter)="saveEditedItem()">
              </ng-container>
              <ng-template #vat>
                {{item.planedPrice.vat|number:'1.2-2'}}
              </ng-template>
            </td>
          </ng-template>

          <ng-template #realPrice>
            <td>
              <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else price">
                <input [(ngModel)]="selectedItem.realPrice.price" #ctrl="ngModel" type="number" class="form-control" mdbInput
                       (keyup.enter)="saveEditedItem()">
              </ng-container>
              <ng-template #price>
                {{item.realPrice.price|number:'1.2-2'}}
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else rebate">
                <input [(ngModel)]="selectedItem.realPrice.rebate" #ctrl="ngModel" type="number" class="form-control" mdbInput
                       (keyup.enter)="saveEditedItem()">
              </ng-container>
              <ng-template #rebate>
                {{item.realPrice.rebate|number:'1.2-2'}}
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else vat">
                <input [(ngModel)]="selectedItem.realPrice.vat" #ctrl="ngModel" type="number" class="form-control" mdbInput
                       (keyup.enter)="saveEditedItem()">
              </ng-container>
              <ng-template #vat>
                {{item.realPrice.vat|number:'1.2-2'}}
              </ng-template>
            </td>
          </ng-template>

          <td></td>
          <td class="font-italic font-weight-bold">{{calculateAmountForItem(item.desideratum.isbn)}}</td>
          <td class="font-italic">{{calculatePriceForItem(item.desideratum.isbn)|number:'1.2-2'}}</td>

          <ng-container *ngIf="editMode">
          <td>
            <div class="d-flex justify-content-end">
              <ng-container *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null; else ok1">
                <button mdbBtn color="info" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect
                        (click)="saveEditedItem()">
                  <mdb-icon fas icon="check"></mdb-icon>
                </button>
                <ng-container *ngIf="status==Status.OPEN">
                  <div class="d-flex justify-content-end">
                    <button mdbBtn color="danger" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect
                            (click)="showRemoveItemModal()">
                      <mdb-icon far icon="trash-alt"></mdb-icon>
                    </button>
                    <div class="dropdown" mdbDropdown>
                      <button mdbDropdownToggle mdbBtn color="teal" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect>
                        <mdb-icon fas icon="angle-double-right"></mdb-icon>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" style="left:auto">
                        <ng-container *ngFor="let group of getOtherAcquisitionGroups();">
                          <a class="dropdown-item" (click)="moveToAcquisitionGroup(group)">{{group}}</a>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #ok1>
                <button mdbBtn color="amber" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect
                        (click)="showEditIcons(id, item.desideratum.isbn)">
                  <mdb-icon fas icon="pen"></mdb-icon>
                </button>
                <div *ngIf="status==Status.OPEN">
                  <button mdbBtn color="primary" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect
                          (click)="showAddLocationModal(id, item.desideratum.isbn)"
                          data-toggle="tooltip" title="Додај локацију">
                    <mdb-icon fas icon="plus"></mdb-icon>
                  </button>
                </div>
              </ng-template>

<!--              <div *ngIf="id == index1stLevel && index2ndLevel == null && index3rdLevel == null" class="d-flex justify-content-end">-->
<!--                <button mdbBtn color="info" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect-->
<!--                        (click)="saveEditedItem()">-->
<!--                  <mdb-icon fas icon="check"></mdb-icon>-->
<!--                </button>-->
<!--                <button mdbBtn color="danger" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect-->
<!--                        (click)="showRemoveItemModal()">-->
<!--                  <mdb-icon far icon="trash-alt"></mdb-icon>-->
<!--                </button>-->
<!--              </div>-->
            </div>
          </td>
          </ng-container>
        </tr>
        <ng-container *ngIf="hide[id]">
          <ng-container *ngFor="let l of item.desideratum.locations|groupBy:'location'; let locId = index">
            <tr class="font-weight-bold teal-text">
              <td></td>
              <td><a (click)="toggleInner(id, locId)">
                <i class="far" [ngClass]="{'fa-plus-square': !hideInner[id][locId], 'fa-minus-square': hideInner[id][locId]}"></i></a>
              </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="font-italic">{{getLocation(l.key)}}</td>
              <td class="font-italic">{{calculateAmountForLocation(item.desideratum.isbn, l.key)}}</td>
              <td></td>
              <ng-container *ngIf="editMode">
                <td></td>
              </ng-container>
            </tr>
            <ng-container *ngIf="hideInner[id][locId]">
              <tr *ngFor="let v of l.value; let sublocId = index">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{getSublocation(v.sublocation)}}</td>
                <td>
                  <ng-container *ngIf="id == index1stLevel && locId == index2ndLevel && sublocId == index3rdLevel; else sublocation">
                    <input [(ngModel)]="inputAmount" type="number" class="form-control" mdbInput
                           (keyup.enter)="updateAmount(item.desideratum.isbn, v.sublocation)">
                  </ng-container>
                  <ng-template #sublocation>
                    {{v.amount}}
                  </ng-template>
                </td>
                <td></td>
                <ng-container *ngIf="editMode">
                  <td>
                    <div *ngIf="status==Status.OPEN">
                      <div class="d-flex justify-content-end">
                        <ng-container *ngIf="id == index1stLevel && locId == index2ndLevel && sublocId == index3rdLevel; else ok" class="d-flex">
                          <div class="mr-2 ml-2">
                            <a (click)="updateAmount(item.desideratum.isbn, v.sublocation)">
                              <mdb-icon fas class="blue-text" icon="check"></mdb-icon></a>
                          </div>
                          <div class="mr-2 ml-2">
                            <a (click)="deleteLocation(item.desideratum.isbn, v.sublocation)">
                              <mdb-icon far class="red-text" icon="trash-alt"></mdb-icon></a>
                          </div>
                        </ng-container>
                        <ng-template #ok>
                          <div class="mr-2 ml-2">
                            <a (click)="showEditIconsForLocation(id, locId, sublocId, v.amount)">
                              <mdb-icon far class="orange-text" icon="edit"></mdb-icon></a>
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        </tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="font-italic teal-text">{{calculatePriceForGroup()|number:'1.2-2'}}</td>
          <td></td>
        </tr>

      </table>
    </div>
  </div>
</mdb-card>

<!--Modal addLocation-->
<div mdbModal #addLocationModal class="modal fade top" id="modalAddLocation" tabindex="-1" role="dialog"
     aria-labelledby="addLocationModal" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Потребе на локацији
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="addLocationModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <!--         <mdb-icon fas icon="map-marker-alt"></mdb-icon>-->
          <!--          <input [(ngModel)]="location.sublocation" #ctrl="ngModel"-->
          <!--                 type="text"-->
          <!--                 class="form-control"-->
          <!--                 id="sublocation"-->
          <!--                 mdbInput-->
          <!--          />-->
          <!--          <label for="sublocation">Локација</label>-->
          <app-select-location [value]="location.sublocation" (selectedLocationEvent)="selectSublocation($event)"></app-select-location>
        </div>

        <div class="md-form">
          <!--          <mdb-icon fas icon="layer-group"></mdb-icon>-->
          <input [(ngModel)]="location.amount"
                 type="number"
                 class="form-control"
                 id="amount"
                 mdbInput
          />
          <label for="amount">Количина</label>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect
                (click)="addLocation()">
          Додај
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal addLocation-->

<!--Modal addItem-->
<div mdbModal #modalAddItem class="modal fade top" id="modalAddDesideratum" tabindex="-1"
     role="dialog"
     aria-labelledby="modalAdd" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Нови наслов
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalAddItem.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form #addForm>
          <div class="md-form mb-5">
            <input type="text" id="inputIsbn" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputIsbn">ИСБН</label>
          </div>

          <div class="md-form mb-5">
            <input type="text" id="inputTitle" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputTitle">Наслов</label>
          </div>

          <div class="md-form mb-5">
            <input type="text" id="inputAuthor" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputAuthor">Аутор</label>
          </div>

          <div class="md-form mb-5">
            <input type="text" id="inputPublisher" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputPublisher">Издавач</label>
          </div>

          <div class="md-form mb-5">
            <input type="number" id="inputPrice" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputPrice">Цена</label>
          </div>

          <div class="md-form mb-5">
            <input type="text" id="inputRebate" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputRebate">Рабат</label>
          </div>

          <div class="md-form mb-5">
            <input type="text" id="inputVat" class="form-control validate" mdbInput>
            <label data-error="wrong" data-success="right" for="inputVat">ПДВ</label>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect
                (click)="addItem(addForm, modalAddItem)">Додај
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal addItem-->

<!--Modal deleteItem-->
<div mdbModal #modalDeleteItem class="modal fade" id="modalDeleteItem" tabindex="-1"
     role="dialog"
     aria-labelledby="modalDelete"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Брисање наслова
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalDeleteItem.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p class="text-center h4">Да ли сте сигурни да желите да обришете наслов?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
        <button mdbBtn color="danger" type="button" class="btnYesClass" id="btnYes" data-dismiss="modal" mdbWavesEffect
                (click)="removeSelectedItem()">
          Да
        </button>
        <button mdbBtn color="primary" type="button" class="btnNoClass" id="btnNo" data-dismiss="modal" mdbWavesEffect
                (click)="modalDeleteItem.hide()">
          Не
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal deleteItem-->

<!--Modal alreadyExists-->
<div mdbModal #modalAlreadyExists class="modal fade" id="modalAlreadyExists" tabindex="-1"
     role="dialog"
     aria-labelledby="modalAlreadyExists"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Дуплирање
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalAlreadyExists.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p class="text-center h4">Ови подаци већ постоје у табели! Ажурирајте постојеће податке!</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="primary" type="button" class="waves-effect" mdbWavesEffect id="btnOK" data-dismiss="modal"
                (click)="modalAlreadyExists.hide()">
          У реду
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal alreadyExists-->

<!--Modal deleteAcquisitionGroup-->
<div mdbModal #modalDeleteAcquisitionGroup class="modal fade" id="modalDeleteAcquisitionGroup" tabindex="-1"
     role="dialog"
     aria-labelledby="modalDelete"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Брисање партије
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modalDeleteAcquisitionGroup.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p class="text-center h4">Да ли сте сигурни да желите да обришете партију?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
        <button mdbBtn color="danger" type="button" class="btnYesClass" data-dismiss="modal" mdbWavesEffect
                (click)="deleteGroup()">
          Да
        </button>
        <button mdbBtn color="primary" type="button" class="btnNoClass" data-dismiss="modal" mdbWavesEffect
                (click)="modalDeleteAcquisitionGroup.hide()">
          Не
        </button>
      </div>
    </div>
  </div>
</div>
<!--Modal deleteAcquisitionGroup-->
