<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Lista deziderata</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center"></th>
          <th class="text-center">ISBN</th>
          <th class="text-center">Naslov</th>
          <th class="text-center">Autor</th>
          <th class="text-center">Izdavač</th>
          <th class="text-center">Lokacija</th>
          <th class="text-center">Količina</th>
          <th class="text-center"></th>
        </tr>
        <tbody *ngFor="let desiderat of desiderataList; let id = index">


        <tr (click)="onSelect(id)">
          <td><a (click)="toggle(id)"><i class="far" [ngClass]="{'fa-plus-square': !hide[id], 'fa-minus-square': hide[id]}" ></i></a></td>
          <td>
            <span  (blur)="updateList(desiderat.id, 'isbn', $event)" contenteditable="true">{{desiderat.isbn}}</span>
          </td>
          <td>
            <ng-container *ngIf="id !== rowIndex">
              {{desiderat.title}}
            </ng-container>
            <ng-container *ngIf="id == rowIndex">
              <input type="text" class="form-control" [value]="desiderat.title">
            </ng-container>
            <span (blur)="updateList(desiderat.id, 'title', $event)">{{desiderat.title}}</span>
          </td>
          <td>
            <span (blur)="updateList(desiderat.id, 'author', $event)">{{desiderat.author}}</span>
          </td>
          <td>
            <span (blur)="updateList(desiderat.id, 'publisher', $event)">{{desiderat.publisher}}</span>
          </td>
          <td>

          </td>
          <td>

          </td>

          <td>
            <span class="table-remove">
               <a class="text-danger" (click)="remove(desiderat.id)">
          <mdb-icon far icon="trash-alt"></mdb-icon>
        </a>
            </span>
            <span class="table-add float-right mb-3 mr-2">
                 <a class="text-success" (click)="showFrame(desiderat.id)">
          <mdb-icon fas icon="plus"></mdb-icon>
        </a>

      </span>
          </td>
        </tr>
        <ng-container *ngIf="hide[id]">
          <ng-container *ngFor="let l of desiderat.locations|groupBy:'location';let locId = index">
            <tr [ngStyle]="{'color': 'green',  'font-weight': 'bold'}">
              <td><a (click)="toggleInner(locId)"><i class="far" [ngClass]="{'fa-plus-square': !hideInner[locId], 'fa-minus-square': hideInner[locId]}" ></i></a></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{l.key}}</td>
              <td></td>
              <td> </td>
            </tr>
            <ng-container *ngIf="hideInner[locId]">
              <tr *ngFor="let v of l.value" >
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{v.sublocation}}</td>
                <td>
                  <span contenteditable="true" (blur)="updateAmount(desiderat.id, v.sublocation, $event)">
                    {{v.amount}}
                  </span>
                </td>
                <td></td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

<!--Modal-->
<div
  mdbModal
  #frame="mdbModal"
  class="modal fade top"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="overflow-y: auto"
>
  <!--Dialog-->
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Potrebe na lokaciji
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="md-form mb-5">
          <mdb-icon fas icon="map-marker-alt"></mdb-icon>
          <input [(ngModel)]="location.sublocation" #ctrl="ngModel"
            type="text"
            class="form-control"
            id="sublocation"
            mdbInput
          />
          <label for="sublocation">Lokacija</label>
        </div>

        <div class="md-form">
          <mdb-icon fas icon="layer-group"></mdb-icon>
          <input [(ngModel)]="location.amount" #ctrl="ngModel"
            type="number"
            class="form-control"
            id="amount"
            mdbInput
          />
          <label for="amount">Količina</label>
        </div>
      </div>
      <!--/.Body-->

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          mdbBtn
          color="info"
          class="waves-effect"
          (click)="addLocation()"
          mdbWavesEffect
        >
          Add
        </button>
      </div>
      <!--Footer-->
    </div>
    <!--/.Content-->
  </div>
  <!--/.Dialog-->
</div>
<!--/.Modal-->
