<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="navbar-brand" [routerLink]="'/'">
        <span class="full-library-name">БИСИС Набавка</span>
        <span class="short-library-name">НБВК</span>
      </a>
    </mdb-navbar-brand>

    <links>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['/desiderata']">
            <mdb-icon far icon="heart"></mdb-icon> Дезидерати<span class="caret"></span></a>
        </li>
        <li class="nav-item" >
          <a mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['/distributors']">
            <mdb-icon far icon="address-book"></mdb-icon> Понуде<span class="caret"></span></a>
        </li>


      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Мој налог<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/login']" [queryParams]="{next: router.url}">Пријава</a>
            <div class="divider dropdown-divider"></div>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Одјава</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>

<main>
  <div class="container-fluid py-4">
    <router-outlet></router-outlet>
  </div>
</main>
