<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
    <mdb-navbar-brand>
      <a class="navbar-brand" [routerLink]="'/'">
        <span class="full-library-name">БИСИС Набавка</span>
        <span class="short-library-name">НБВК</span>
      </a>
    </mdb-navbar-brand>

    <links>
      <ul class="navbar-nav" *ngIf="(loggeduser | async)?.role === Roles.ACQUISITION_MANAGER" >
        <li class="nav-item">
          <a mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['/dashboard']">
            <mdb-icon fas icon="shopping-bag"></mdb-icon>Набавка <span class="caret"></span></a>
        </li>
        <li class="nav-item">
          <a mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['/desiderata']">
            <mdb-icon fas icon="heart"></mdb-icon>Дезидерати<span class="caret"></span></a>
        </li>
        <li class="nav-item">
          <a mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['/distribution']">
            <mdb-icon fas icon="heart"></mdb-icon>Расподела<span class="caret"></span></a>
        </li>
        <li class="nav-item">
          <a mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['/distributors']">
            <mdb-icon fas icon="users"></mdb-icon>Понуде<span class="caret"></span></a>
        </li>
        <li class="nav-item">
          <div class="dropdown" mdbDropdown>
            <a mdbWavesEffect mdbDropdownToggle type="button"  class="nav-link dropdown-toggle waves-light">
              <mdb-icon fas icon="file-contract"></mdb-icon>Извештаји<span class="caret"></span>
            </a>
            <div class="dropdown-menu dropdown-primary">
              <button class="dropdown-item" (click)="modalReportForm.show()">Годишњи финансијски извештај</button>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="(loggeduser | async)?.role === Roles.DESIDERATUM_MANAGER" >
        <li class="nav-item">
          <a mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['/desiderata']">
            <mdb-icon fas icon="heart"></mdb-icon>Дезидерати<span class="caret"></span></a>
        </li>
        <li class="nav-item">
          <a mdbWavesEffect type="button" class="nav-link waves-light" [routerLink]="['/distribution']">
            <mdb-icon fas icon="heart"></mdb-icon>Расподела<span class="caret"></span></a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto"   >
        <li class="nav-item" *ngIf="((loggeduser | async)?.token!== null)">
            <a mdbWavesEffect type="button" class="nav-link waves-light" (click)="logout()">
              <mdb-icon fas icon="sign-out-alt"></mdb-icon> Одјава<span class="caret"></span>
            </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>

<main>
  <div class="container-fluid py-4">
    <router-outlet></router-outlet>
  </div>
</main>

<div mdbModal #modalReportForm class="modal fade top" id="modalReportForm" tabindex="-1"
     role="dialog"
     aria-labelledby="modalReport" aria-hidden="true" style="overflow-y: auto">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Финансијски извештај
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalReportForm.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <input type="number"  min="2015" id="year" class="form-control validate" mdbInput [(ngModel)]="year">
            <label data-error="wrong" data-success="right" for="year">Година</label>
          </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="info" class="waves-effect" mdbWavesEffect (click)="showReport();modalReportForm.hide()"
        >Прикажи
        </button>
      </div>
    </div>
  </div>
</div>
