<div *ngIf="distributer; else notExist">
<mdb-card>
<!-- Editable table -->
<div class="card-header">
  <h3 class="py-2">Листа понуђених књига:  {{distributer?.name}}</h3>
</div>

  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="d-flex">
        <div class="d-flex flex-grow-1">
          <div *ngIf="(loggedUserRole | async) === Roles.ACQUISITION_MANAGER">
            <p class="font-weight-light text-muted">{{getPermLink(distributer?.pib)}}
            <a floating="true"  ngxClipboard [cbContent]="getPermLink(distributer?.pib)"
               (cbOnSuccess)="linkCopied()" data-toggle="tooltip" title="Копирај линк">
              <mdb-icon far icon="copy" class="teal-text"></mdb-icon>
            </a>
            </p>
          </div>
        </div>
        <a mdbBtn floating="true" color="primary" size="sm" (click)="addNewOffer()" data-toggle="tooltip" title="Додај књигу">
          <mdb-icon fas icon="plus"></mdb-icon>
        </a>
        <a mdbBtn floating="true" color="default" size="sm" ngxClipboard [cbContent]="getPermLink(distributer?.pib)"
           (cbOnSuccess)="linkCopied()" data-toggle="tooltip" title="Копирај линк">
          <mdb-icon far icon="copy"></mdb-icon>
        </a>
      </div>

      <table mdbTable small="true" class="text-left">
        <thead>
        <tr>
          <th>ИСБН</th>
          <th>Наслов</th>
          <th>Аутор</th>
          <th>Издавач</th>
          <th>Цена</th>
          <th>Рабат</th>
          <th>ПДВ</th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let offer of offeredBooks; let id = index">
        <tr>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else isbn">
              <input mdbInput type="text" [(ngModel)]="offer.isbn"  class="form-control" (keyup.enter)="update()">
            </ng-container>
            <ng-template #isbn>
              {{offer.isbn}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else title">
              <input mdbInput type="text"  [(ngModel)]="offer.title"  class="form-control" (keyup.enter)="update()">
            </ng-container>
            <ng-template #title>
              {{offer.title}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else author">
              <input mdbInput type="text" [(ngModel)]="offer.author"  class="form-control" (keyup.enter)="update()">
            </ng-container>
            <ng-template #author>
              {{offer.author}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else publisher">
              <input mdbInput type="text" [(ngModel)]="offer.publisher"  class="form-control" (keyup.enter)="update()">
            </ng-container>
            <ng-template #publisher >
              {{offer.publisher}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else price">
              <input mdbInput type="number"  [(ngModel)]="offer.price"  class="form-control" (keyup.enter)="update()">
            </ng-container>
            <ng-template #price>
              {{offer.price}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else rebate">
              <input mdbInput type="number"  [(ngModel)]="offer.rebate"  class="form-control" (keyup.enter)="update()">
            </ng-container>
            <ng-template #rebate>
              {{offer.rebate}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else vat">
              <input mdbInput type="number"  [(ngModel)]="offer.vat"  class="form-control" (keyup.enter)="update()">
            </ng-container>
            <ng-template #vat>
              {{offer.vat}}
            </ng-template>
          </td>
          <td>
            <ng-container *ngIf="id !== rowIndex">
              <div class="d-flex justify-content-end">
                <button mdbBtn color="amber" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect (click)="edit(id)">
                  <mdb-icon fas icon="pen"></mdb-icon>
                </button>
              </div>
            </ng-container>
            <ng-container *ngIf="id == rowIndex">
              <div class="d-flex justify-content-end">
                <button mdbBtn color="success" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect (click)="update()">
                  <mdb-icon fas icon="check-circle"></mdb-icon>
                </button>

                <button mdbBtn color="danger" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect (click)="modalDeleteOffer.show()">
                  <mdb-icon fas icon="trash-alt"></mdb-icon>
                </button>
              </div>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</mdb-card>
<!-- Editable table -->
</div>
<ng-template #notExist>
  {{message}}
</ng-template>
  <!--Modal-->
<div
  mdbModal
  #addModal
  class="modal fade top"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="overflow-y: auto"
  (closed)="onClosed($event)"
>
  <!--Dialog-->
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Нова књига
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="addModal"
          aria-label="Close"
          (click)="addModal.hide()"
        >
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="md-form mb-5">
          <input [(ngModel)]="book.isbn"
                 type="text"
                 class="form-control"
                 id="isbn"
                 mdbInput
          />
          <label for="isbn">ИСБН</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="book.title"
                 type="text"
                 class="form-control"
                 id="title"
                 mdbInput
          />
          <label for="title">Наслов</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="book.author"
                 type="text"
                 class="form-control"
                 id="author"
                 mdbInput
          />
          <label for="author">Аутор</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="book.publisher"
                 type="text"
                 class="form-control"
                 id="publisher"
                 mdbInput
          />
          <label for="publisher">Издавач</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="book.price"
                 type="number"
                 class="form-control"
                 id="price"
                 mdbInput
          />
          <label for="price">Цена</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="book.rebate"
                 type="number"
                 class="form-control"
                 id="rebate"
                 mdbInput
          />
          <label for="rebate">Рабат</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="book.vat"
                 type="number"
                 class="form-control"
                 id="vat"
                 mdbInput
          />
          <label for="vat">ПДВ</label>
        </div>

      </div>
      <!--/.Body-->

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          mdbBtn
          color="info"
          class="waves-effect"
          (click)="add()"
          mdbWavesEffect
        >
          Додај
        </button>
      </div>
      <!--Footer-->
    </div>
    <!--/.Content-->
  </div>
  <!--/.Dialog-->
</div>
<!--/.Modal-->

<!-- deleteOfferModel -->
<div mdbModal #modalDeleteOffer class="modal fade" id="modalDeleteOffer" tabindex="-1"
     role="dialog"
     aria-labelledby="modalDelete"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Брисање књиге
        </h4>
        <button type="button" class="close" data-dismiss="modalDeleteOffer" aria-label="Close"
                (click)="modalDeleteOffer.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p class="text-center h4">Да ли сте сигурни да желите да обришете књигу?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
        <button mdbBtn color="danger" type="button" class="btnYesClass" data-dismiss="modalDeleteOffer" mdbWavesEffect
                (click)="remove()">
          Да
        </button>
        <button mdbBtn color="primary" type="button" class="btnNoClass" data-dismiss="modalDeleteOffer" mdbWavesEffect
                (click)="modalDeleteOffer.hide()">
          Не
        </button>
      </div>
    </div>
  </div>
</div>
<!--/.deleteOfferModal -->

