<mdb-card>
<!-- Editable table -->
  <div class="card-header">
    <h3 class="py-2">Добављачи</h3>
  </div>
  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="d-flex">
      <div class="d-flex flex-grow-1">
        <div class="md-form mt-0">
          <input mdbInput type="text" class="form-control ml-0" [(ngModel)]="searchText" id="search-input">
          <label for="search-input">Претражи</label>
        </div>
      </div>
      <span class="table-add float-right mb-3 mr-2">
       <a mdbBtn floating="true" color="primary" size="sm" (click)="addModal.show();addForm.reset()" data-toggle="tooltip" title="Додај добављача">
          <mdb-icon fas icon="plus"></mdb-icon>
        </a>
      </span>
      </div>
      <table mdbTable small="true" class="table table-bordered table-responsive-md table-striped text-left">
        <thead>
        <tr>
          <th [mdbTableSort]="distributorsList" sortBy="pib">
            ПИБ
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="distributorsList" sortBy="name">
            Назив
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="distributorsList" sortBy="phone">
            Телефон
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="distributorsList" sortBy="email">
            Емаил
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th [mdbTableSort]="distributorsList" sortBy="contactPerson">
            Контакт особа
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let distributor of distributorsList; let id = index">
        <tr>
         <td class="align-middle" >
           <ng-container *ngIf="id == rowIndex;else pib">
             <input mdbInput type="text" [(ngModel)]="distributor.pib"  class="form-control" (keyup.enter)="update(distributor)">
           </ng-container>
           <ng-template #pib>
             {{distributor.pib}}
           </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else name">
              <input mdbInput type="text" [(ngModel)]="distributor.name"  class="form-control" (keyup.enter)="update(distributor)">
            </ng-container>
            <ng-template #name>
              {{distributor.name}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex;else phone">
              <input mdbInput type="text" [(ngModel)]="distributor.phone"  class="form-control" (keyup.enter)="update(distributor)">
            </ng-container>
            <ng-template #phone>
              {{distributor.phone}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id == rowIndex; else email">
              <input mdbInput type="text" [(ngModel)]="distributor.email"  class="form-control" (keyup.enter)="update(distributor)">
            </ng-container>
            <ng-template #email>
              {{distributor.email}}
            </ng-template>
          </td>
          <td class="align-middle">

            <ng-container *ngIf="id == rowIndex;else contactPerson">
              <input mdbInput type="text" [(ngModel)]="distributor.contactPerson"  class="form-control" (keyup.enter)="update(distributor)">
            </ng-container>
            <ng-template #contactPerson>
              {{distributor.contactPerson}}
            </ng-template>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="id !== rowIndex">
                <div class="d-flex justify-content-end">
                <button mdbBtn color="amber" size="sm" rounded="true" outline="true" type="button" class="px-2" data-toggle="tooltip" title="Измени" mdbWavesEffect
                        (click)="edit(id)">
                  <mdb-icon far icon="edit"></mdb-icon>
                </button>
                <button mdbBtn color="primary" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect
                        [routerLink]="['/offers/'+getDistributerCryptoId(distributor.pib)]" data-toggle="tooltip" title="Прикажи понуду">
                  <mdb-icon fas icon="book"></mdb-icon>
                </button>
                  <button mdbBtn  color="default" size="sm" rounded="true" outline="true" type="button" class="px-2" ngxClipboard [cbContent]="getPermLink(distributor?.pib)"
                          (cbOnSuccess)="linkCopied(getPermLink(distributor?.pib))" data-toggle="tooltip" title="Копирај линк">
                    <mdb-icon fas icon="copy"></mdb-icon>
                  </button>
              </div>
            </ng-container>
            <ng-container *ngIf="id == rowIndex">
              <div class="d-flex justify-content-end">
                <button mdbBtn color="info" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect (click)="update(distributor)">
                  <mdb-icon fas icon="check"></mdb-icon>
                </button>

                <button mdbBtn color="danger" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect (click)="confirmDelete(distributor)">
                  <mdb-icon far icon="trash-alt"></mdb-icon>
                </button>

              </div>

            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<!-- Editable table -->
</mdb-card>
<!--addDistributirModal-->
<div
  mdbModal
  #addModal
  class="modal fade top"
  id="addModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="overflow-y: auto"

>
  <!--Dialog-->
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Нови добављач
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="addModal"
          aria-label="Close"
          (click)="addModal.hide()"
        >
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <form  class="modal-body" #addForm="ngForm" >
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.pib"
                 type="text"
                 class="form-control"
                 id="pib"
                 name="pib"
                 mdbInput
                 mdbValidate
                 required
                 #pib="ngModel"
          />
          <label for="pib">ПИБ</label>
          <mdb-error *ngIf="pib.invalid && (pib.dirty || pib.touched)">Ово је обавезно поље.</mdb-error>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.name"
                 type="text"
                 class="form-control"
                 id="name"
                 name="name"
                 mdbInput
                 mdbValidate
                 required
                 #name="ngModel"
          />
          <label for="name">Назив</label>
          <mdb-error *ngIf="name.invalid && (name.dirty || name.touched)">Ово је обавезно поље.</mdb-error>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.phone"
                 type="text"
                 class="form-control"
                 id="phone"
                 name="phone"
                 mdbInput
                 mdbValidate
                 required
                 #phone=ngModel
          />
          <label for="phone">Телефон</label>
          <mdb-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">Ово је обавезно поље.</mdb-error>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.email"
                 type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 mdbInput
                 mdbValidate
                 required
                 #email=ngModel
          />
          <label for="email">Емаил</label>
          <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Ово је обавезно поље.</mdb-error>
           </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.contactPerson"
                 type="text"
                 class="form-control"
                 id="contactPerson"
                 name="contactPerson"
                 mdbInput
                 mdbValidate
                 required
                 #contactPerson=ngModel
          />
          <label for="contactPerson">Контакт особа</label>
          <mdb-error *ngIf="contactPerson.invalid && (contactPerson.dirty || contactPerson.touched)">Ово је обавезно поље.</mdb-error>
        </div>

      <!--/.Body-->

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button
          type="submit"
          mdbBtn
          color="info"
          class="waves-effect"
          [disabled]="!addForm.valid"
          (click)="add();addForm.reset()"
          mdbWavesEffect
        >
          Dodaj
        </button>
      </div>
      </form>
      <!--Footer-->
    </div>
    <!--/.Content-->
  </div>
  <!--/.Dialog-->
</div>
<!--/.addDistributorModal-->

<!-- deleteDistributorModal -->
<div mdbModal #deleteDistributorModal class="modal fade" id="deleteDistributorModal" tabindex="-1"
     role="dialog"
     aria-labelledby="modalDelete"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Брисање добављача
        </h4>
        <button type="button" class="close" data-dismiss="deleteDistributorModal" aria-label="Close"
                (click)="deleteDistributorModal.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <p class="text-center h4">Да ли сте сигурни да желите да обришете добављача и све његове понуђене књиге?</p>
      </div>
      <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
        <button mdbBtn color="danger" type="button" class="btnYesClass" data-dismiss="deleteDistributorModal" mdbWavesEffect
                (click)="remove()">
          Да
        </button>
        <button mdbBtn color="primary" type="button" class="btnNoClass" data-dismiss="deleteDistributorModal" mdbWavesEffect
                (click)="deleteDistributorModal.hide()">
          Не
        </button>
      </div>
    </div>
  </div>
</div>
<!--/.deleteDistributorModal -->
