<mdb-card>
<!-- Editable table -->
  <div class="card-header">
    <h3 class="py-2">Листа дистрибутера</h3>
  </div>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
       <a mdbBtn floating="true" color="primary" size="sm" (click)="addNewDistributor()">
          <mdb-icon fas icon="plus"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">ПИБ</th>
          <th class="text-center">Назив</th>
          <th class="text-center">Телефон</th>
          <th class="text-center">Емаил</th>
          <th class="text-center">Контакт особа</th>
          <th class="text-center"></th>
        </tr>
        <tbody *ngFor="let distributor of distributorsList; let id = index">


        <tr>
         <td>
           <ng-container *ngIf="id !== rowIndex">
             {{distributor.pib}}
           </ng-container>
           <ng-container *ngIf="id == rowIndex">
             <input mdbInput type="text" name="text" [(ngModel)]="distributor.pib"  class="form-control">
           </ng-container>
          </td>
          <td>
            <ng-container *ngIf="id !== rowIndex">
              {{distributor.name}}
            </ng-container>
            <ng-container *ngIf="id == rowIndex">
              <input mdbInput type="text" name="text" [(ngModel)]="distributor.name"  class="form-control">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="id !== rowIndex">
              {{distributor.phone}}
            </ng-container>
            <ng-container *ngIf="id == rowIndex">
              <input mdbInput type="text" name="text" [(ngModel)]="distributor.phone"  class="form-control">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="id !== rowIndex">
              {{distributor.email}}
            </ng-container>
            <ng-container *ngIf="id == rowIndex">
              <input mdbInput type="text" name="text" [(ngModel)]="distributor.email"  class="form-control">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="id !== rowIndex">
              {{distributor.contactPerson}}
            </ng-container>
            <ng-container *ngIf="id == rowIndex">
              <input mdbInput type="text" name="text" [(ngModel)]="distributor.contactPerson"  class="form-control">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="id !== rowIndex">

              <div class="d-flex justify-content-end">
                   <button mdbBtn color="primary" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect (click)="edit(id)">
                <mdb-icon fas icon="edit"></mdb-icon>
              </button>

                 <button mdbBtn color="amber" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect [routerLink]="['/offers/'+distributor.pib]">
                  <mdb-icon fas icon="eye"></mdb-icon>
                 </button>
              </div>
            </ng-container>
            <ng-container *ngIf="id == rowIndex">
              <div class="d-flex justify-content-end">
                <button mdbBtn color="success" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect (click)="update(distributor)">
                  <mdb-icon fas icon="check-circle"></mdb-icon>
                </button>

                <button mdbBtn color="danger" size="sm" rounded="true" outline="true" type="button" class="px-2" mdbWavesEffect (click)="remove(distributor)">
                  <mdb-icon fas icon="trash-alt"></mdb-icon>
                </button>
              </div>

            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<!-- Editable table -->
</mdb-card>
<!--Modal-->
<div
  mdbModal
  #frame="mdbModal"
  class="modal fade top"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="overflow-y: auto"
>
  <!--Dialog-->
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">
          Нови дистрибутер
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.pib" #ctrl="ngModel"
                 type="text"
                 class="form-control"
                 id="pib"
                 mdbInput
          />
          <label for="pib">ПИБ</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.name" #ctrl="ngModel"
                 type="text"
                 class="form-control"
                 id="name"
                 mdbInput
          />
          <label for="name">Назив</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.phone" #ctrl="ngModel"
                 type="text"
                 class="form-control"
                 id="phone"
                 mdbInput
          />
          <label for="phone">Телефон</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.email" #ctrl="ngModel"
                 type="text"
                 class="form-control"
                 id="email"
                 mdbInput
          />
          <label for="email">Емаил</label>
        </div>
        <div class="md-form mb-5">
          <input [(ngModel)]="distributor.contactPerson" #ctrl="ngModel"
                 type="text"
                 class="form-control"
                 id="contactPerson"
                 mdbInput
          />
          <label for="contactPerson">Контакт особа</label>
        </div>

      </div>
      <!--/.Body-->

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          mdbBtn
          color="info"
          class="waves-effect"
          (click)="add()"
          mdbWavesEffect
        >
          Dodaj
        </button>
      </div>
      <!--Footer-->
    </div>
    <!--/.Content-->
  </div>
  <!--/.Dialog-->
</div>
<!--/.Modal-->
